# SQLAlchemy Joins

## Setup

In [25]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
from sqlalchemy import create_engine
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time

In [26]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [27]:

time.sleep(1)
url = "https://www.n2yo.com/satellites/?c=&t=country"
browser.visit(url)
# sloth_img= soup.find("img", class_="img-fluid animals").get_text()'

In [28]:


#a_all = avg_temps.find_all('a')[1].text
#td_all = avg_temps.find_all('td')[3].text

datetime='2020-10-23'
data_symbol = {
    "country": "",
    "country_code": "", 
    "number_of_satellites": ""

}
offsetVal=0

In [35]:
html = browser.html 
soup = bs(html, "html.parser") 
data_array = [] 
avg_temps = soup.find("table", class_="footable") 
data_array = [] 
paragraphs = avg_temps.find_all('tr') 
for para in paragraphs: 
    data_symbol={}
    try:
        data_symbol["country"] = para.find_all('td')[0].text 
        data_symbol["country_code"] = para.find_all('td')[2].text 
        data_symbol["number_of_satellites"] = para.find_all('td')[3].text 
        data_array.append(data_symbol)
    except:
        pass
data_array

[{'country': 'ALGERIA', 'country_code': 'ALG', 'number_of_satellites': '6'},
 {'country': 'ARAB SATELLITE COMMUNICATIONS ORGANIZATION',
  'country_code': 'AB',
  'number_of_satellites': '14'},
 {'country': 'ARGENTINA',
  'country_code': 'ARGN',
  'number_of_satellites': '24'},
 {'country': 'ASIA SATELLITE TELECOMMUNICATIONS COMPANY (ASIASAT)',
  'country_code': 'AC',
  'number_of_satellites': '8'},
 {'country': 'AUSTRALIA', 'country_code': 'AUS', 'number_of_satellites': '25'},
 {'country': 'AZERBAIJAN',
  'country_code': 'AZER',
  'number_of_satellites': '2'},
 {'country': 'BANGLADESH', 'country_code': 'BGD', 'number_of_satellites': '1'},
 {'country': 'BELARUS', 'country_code': 'BELA', 'number_of_satellites': '2'},
 {'country': 'BOLIVIA', 'country_code': 'BOL', 'number_of_satellites': '1'},
 {'country': 'BRAZIL', 'country_code': 'BRAZ', 'number_of_satellites': '17'},
 {'country': 'BULGARIA', 'country_code': 'BGR', 'number_of_satellites': '1'},
 {'country': 'CANADA', 'country_code': 'CA', 'number_of_satellites': '60'},
 {'country': 'CHILE', 'country_code': 'CHLE', 'number_of_satellites': '3'},
 {'country': 'CHINA/BRAZIL',
  'country_code': 'CHBZ',
  'number_of_satellites': '3'},
 {'country': 'COMMONWEALTH OF INDEPENDENT STATES (FORMER USSR)',
  'country_code': 'CIS',
  'number_of_satellites': '1532'},
 {'country': 'CZECH REPUBLIC (FORMER CZECHOSLOVAKIA)',
  'country_code': 'CZCH',
  'number_of_satellites': '2'},
 {'country': 'CZECHIA', 'country_code': 'CZ', 'number_of_satellites': '3'},
 {'country': 'DEMOCRATIC SOCIALIST REPUBLIC OF SRI LANKA',
  'country_code': 'LKA',
  'number_of_satellites': '1'},
 {'country': 'DENMARK', 'country_code': 'DEN', 'number_of_satellites': '9'},
 {'country': 'ECUADOR', 'country_code': 'ECU', 'number_of_satellites': '2'},
 {'country': 'EGYPT', 'country_code': 'EGYP', 'number_of_satellites': '9'},
 {'country': 'ESTONIA', 'country_code': 'EST', 'number_of_satellites': '2'},
 {'country': 'EUROPEAN ORGANISATION FOR THE EXPLOITATION OF METEOROLOGICAL SATELLITES',
  'country_code': 'EUME',
  'number_of_satellites': '9'},
 {'country': 'EUROPEAN SPACE AGENCY',
  'country_code': 'ESA',
  'number_of_satellites': '92'},
 {'country': 'EUROPEAN TELECOMMUNICATIONS SATELLITE ORGANIZATION',
  'country_code': 'EUTE',
  'number_of_satellites': '54'},
 {'country': 'FEDERAL DEMOCRATIC REPUBLIC OF NEPAL',
  'country_code': 'NPL',
  'number_of_satellites': '1'},
 {'country': 'FRANCE', 'country_code': 'FR', 'number_of_satellites': '73'},
 {'country': 'FRANCE/GERMANY',
  'country_code': 'FGER',
  'number_of_satellites': '2'},
 {'country': 'FRANCE/ITALY',
  'country_code': 'FRIT',
  'number_of_satellites': '2'},
 {'country': 'GERMANY', 'country_code': 'GER', 'number_of_satellites': '71'},
 {'country': 'GLOBALSTAR',
  'country_code': 'GLOB',
  'number_of_satellites': '84'},
 {'country': 'GREECE', 'country_code': 'GREC', 'number_of_satellites': '3'},
 {'country': 'INDIA', 'country_code': 'IND', 'number_of_satellites': '99'},
 {'country': 'INDONESIA',
  'country_code': 'INDO',
  'number_of_satellites': '18'},
 {'country': 'INTERNATIONAL MOBILE SATELLITE ORGANIZATION (INMARSAT)',
  'country_code': 'IM',
  'number_of_satellites': '18'},
 {'country': 'INTERNATIONAL SPACE STATION',
  'country_code': 'ISS',
  'number_of_satellites': '5'},
 {'country': 'INTERNATIONAL TELECOMMUNICATIONS SATELLITE ORGANIZATION',
  'country_code': 'ITSO',
  'number_of_satellites': '86'},
 {'country': 'IRAN', 'country_code': 'IRAN', 'number_of_satellites': '2'},
 {'country': 'IRAQ', 'country_code': 'IRAK', 'number_of_satellites': '1'},
 {'country': 'ISRAEL', 'country_code': 'ISRA', 'number_of_satellites': '23'},
 {'country': 'ITALY', 'country_code': 'IT', 'number_of_satellites': '29'},
 {'country': 'JAPAN', 'country_code': 'JPN', 'number_of_satellites': '188'},
 {'country': 'KAZAKHSTAN', 'country_code': 'KAZ', 'number_of_satellites': '8'},
 {'country': 'LAOS', 'country_code': 'LAOS', 'number_of_satellites': '1'},
 {'country': 'LATVIA', 'country_code': 'LTV', 'number_of_satellites': '1'},
 {'country': 'LITHUANIA', 'country_code': 'LTU', 'number_of_satellites': '3'},
 {'country': 'LUXEMBOURG',
  'country_code': 'LUXE',
  'number_of_satellites': '4'},
 {'country': 'MALAYSIA', 'country_code': 'MALA', 'number_of_satellites': '7'},
 {'country': 'MEXICO', 'country_code': 'MEX', 'number_of_satellites': '13'},
 {'country': 'MOROCCO', 'country_code': 'MA', 'number_of_satellites': '2'},
 {'country': 'NETHERLANDS',
  'country_code': 'NETH',
  'number_of_satellites': '8'},
 {'country': 'NEW ICO', 'country_code': 'NICO', 'number_of_satellites': '1'},
 {'country': 'NEW ZEALAND', 'country_code': 'NZ', 'number_of_satellites': '1'},
 {'country': 'NIGERIA', 'country_code': 'NIG', 'number_of_satellites': '5'},
 {'country': 'NORTH ATLANTIC TREATY ORGANIZATION',
  'country_code': 'NATO',
  'number_of_satellites': '8'},
 {'country': 'NORTH KOREA',
  'country_code': 'NKOR',
  'number_of_satellites': '2'},
 {'country': 'NORWAY', 'country_code': 'NOR', 'number_of_satellites': '9'},
 {'country': 'O3B NETWORKS',
  'country_code': 'O3B',
  'number_of_satellites': '20'},
 {'country': 'ORBCOMM', 'country_code': 'ORB', 'number_of_satellites': '41'},
 {'country': 'PAKISTAN', 'country_code': 'PAKI', 'number_of_satellites': '6'},
 {'country': "PEOPLE'S REPUBLIC OF CHINA",
  'country_code': 'PRC',
  'number_of_satellites': '433'},
 {'country': 'PERU', 'country_code': 'PER', 'number_of_satellites': '2'},
 {'country': 'PHILIPPINES (REPUBLIC OF THE PHILIPPINES)',
  'country_code': 'RP',
  'number_of_satellites': '2'},
 {'country': 'POLAND', 'country_code': 'POL', 'number_of_satellites': '5'},
 {'country': 'PORTUGAL', 'country_code': 'POR', 'number_of_satellites': '2'},
 {'country': 'QATAR', 'country_code': 'QAT', 'number_of_satellites': '1'},
 {'country': 'REGIONAL AFRICAN SATELLITE COMMUNICATIONS ORGANIZATION',
  'country_code': 'RASC',
  'number_of_satellites': '2'},
 {'country': 'REPUBLIC OF RWANDA',
  'country_code': 'RWA',
  'number_of_satellites': '1'},
 {'country': 'REPUBLIC OF SLOVENIA',
  'country_code': 'SVN',
  'number_of_satellites': '2'},
 {'country': 'SAUDI ARABIA',
  'country_code': 'SAUD',
  'number_of_satellites': '15'},
 {'country': 'SEA LAUNCH',
  'country_code': 'SEAL',
  'number_of_satellites': '1'},
 {'country': 'SINGAPORE',
  'country_code': 'SING',
  'number_of_satellites': '11'},
 {'country': 'SINGAPORE/TAIWAN',
  'country_code': 'STCT',
  'number_of_satellites': '2'},
 {'country': 'SLOVAKIA', 'country_code': 'SK', 'number_of_satellites': '1'},
 {'country': 'SOCIETE EUROPEENNE DES SATELLITES',
  'country_code': 'SES',
  'number_of_satellites': '56'},
 {'country': 'SOUTH AFRICA',
  'country_code': 'SAFR',
  'number_of_satellites': '5'},
 {'country': 'SOUTH KOREA',
  'country_code': 'SKOR',
  'number_of_satellites': '24'},
 {'country': 'SPAIN', 'country_code': 'SPN', 'number_of_satellites': '29'},
 {'country': 'SWEDEN', 'country_code': 'SWED', 'number_of_satellites': '11'},
 {'country': 'TAIWAN (REPUBLIC OF CHINA)',
  'country_code': 'ROC',
  'number_of_satellites': '16'},
 {'country': 'THAILAND', 'country_code': 'THAI', 'number_of_satellites': '11'},
 {'country': 'TURKEY', 'country_code': 'TURK', 'number_of_satellites': '13'},
 {'country': 'TURKMENISTAN/MONACO',
  'country_code': 'TMMC',
  'number_of_satellites': '1'},
 {'country': 'UNITED ARAB EMIRATES',
  'country_code': 'UAE',
  'number_of_satellites': '10'},
 {'country': 'UNITED KINGDOM',
  'country_code': 'UK',
  'number_of_satellites': '118'},
 {'country': 'UNITED STATES',
  'country_code': 'US',
  'number_of_satellites': '2739'},
 {'country': 'UNITED STATES/BRAZIL',
  'country_code': 'USBZ',
  'number_of_satellites': '1'},
 {'country': 'URUGUAY', 'country_code': 'URY', 'number_of_satellites': '1'},
 {'country': 'VENEZUELA', 'country_code': 'VENZ', 'number_of_satellites': '3'},
 {'country': 'VIETNAM', 'country_code': 'VTNM', 'number_of_satellites': '3'}]

html = browser.html
soup = bs(html, "html.parser")
data_array = []
avg_temps = soup.find("table", class_="footable")
data_array = []
paragraphs = avg_temps.find_all('tr')
for para in paragraphs:
    data_symbol={}
    data_symbol["country"] = para.find_all('td')[0].text
    data_symbol["country_code"] = para.find_all('td')[1].text
    data_symbol["number_of_satellites"] = para.find_all('td')[2].text
    data_array.append(data_symbol)

In [36]:
data_array_df = pd.DataFrame(data_array)
data_array_df

,country,country_code,number_of_satellites
0,ALGERIA,ALG,6
1,ARAB SATELLITE COMMUNICATIONS ORGANIZATION,AB,14
2,ARGENTINA,ARGN,24
3,ASIA SATELLITE TELECOMMUNICATIONS COMPANY (ASI...,AC,8
4,AUSTRALIA,AUS,25
...,...,...,...
85,UNITED STATES,US,2739
86,UNITED STATES/BRAZIL,USBZ,1
87,URUGUAY,URY,1
88,VENEZUELA,VENZ,3
89,VIETNAM,VTNM,3

In [37]:
rds_connection_string = "postgres:admin@localhost:5432/satellite"
#<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [38]:
engine.table_names()

['country']

In [39]:
data_array_df.to_sql(name='country', con=engine, if_exists='append', index=False)

In [40]:
pd.read_sql_query('select * from country', con=engine).head()

,country,country_code,number_of_satellites
0,ALGERIA,ALG,6
1,ARAB SATELLITE COMMUNICATIONS ORGANIZATION,AB,14
2,ARGENTINA,ARGN,24
3,ASIA SATELLITE TELECOMMUNICATIONS COMPANY (ASI...,AC,8
4,AUSTRALIA,AUS,25