# SQLAlchemy Joins

## Setup

In [1]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
from sqlalchemy import create_engine
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from sql_keys import username, password

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:

time.sleep(1)
url = "https://www.n2yo.com/satellites/"
browser.visit(url)
# sloth_img= soup.find("img", class_="img-fluid animals").get_text()'

In [4]:


#a_all = avg_temps.find_all('a')[1].text
#td_all = avg_temps.find_all('td')[3].text

datetime='2020-10-23'
data_symbol = {
    "category": "",
    "total_satellites": ""

}
offsetVal=0

In [5]:
html = browser.html 
soup = bs(html, "html.parser") 
data_array = [] 
avg_temps = soup.find("table", class_="footable") 
data_array = [] 
paragraphs = avg_temps.find_all('tr') 
for para in paragraphs: 
    data_symbol={}
    try:
        data_symbol["category"] = para.find_all('td')[0].text 
        data_symbol["total_satellites"] = para.find_all('td')[1].text 
        data_array.append(data_symbol)
    except:
        pass
data_array

[{'category': 'Amateur radio', 'total_satellites': '416'},
 {'category': 'Beidou Navigation System', 'total_satellites': '54'},
 {'category': 'Brightest', 'total_satellites': '49'},
 {'category': 'Celestis', 'total_satellites': '1'},
 {'category': 'CubeSats', 'total_satellites': '176'},
 {'category': 'Disaster monitoring', 'total_satellites': '28'},
 {'category': 'Earth resources', 'total_satellites': '149'},
 {'category': 'Education', 'total_satellites': '20'},
 {'category': 'Engineering', 'total_satellites': '61'},
 {'category': 'Experimental', 'total_satellites': '158'},
 {'category': 'Flock', 'total_satellites': '259'},
 {'category': 'GOES', 'total_satellites': '17'},
 {'category': 'Galileo', 'total_satellites': '26'},
 {'category': 'Geodetic', 'total_satellites': '49'},
 {'category': 'Geostationary', 'total_satellites': '973'},
 {'category': 'Global Positioning System (GPS) Constellation',
  'total_satellites': '73'},
 {'category': 'Global Positioning System (GPS) Operational',
  'total_satellites': '31'},
 {'category': 'Globalstar', 'total_satellites': '84'},
 {'category': 'Glonass Constellation', 'total_satellites': '134'},
 {'category': 'Glonass Operational', 'total_satellites': '27'},
 {'category': 'Gonets', 'total_satellites': '21'},
 {'category': 'Gorizont', 'total_satellites': '33'},
 {'category': 'IRNSS', 'total_satellites': '8'},
 {'category': 'ISS', 'total_satellites': '17'},
 {'category': 'Intelsat', 'total_satellites': '88'},
 {'category': 'Iridium', 'total_satellites': '106'},
 {'category': 'Lemur', 'total_satellites': '105'},
 {'category': 'Military', 'total_satellites': '577'},
 {'category': 'Molniya', 'total_satellites': '36'},
 {'category': 'NOAA', 'total_satellites': '23'},
 {'category': 'Navy Navigation Satellite System', 'total_satellites': '37'},
 {'category': 'O3B Networks', 'total_satellites': '20'},
 {'category': 'OneWeb', 'total_satellites': '68'},
 {'category': 'Orbcomm', 'total_satellites': '61'},
 {'category': 'Parus', 'total_satellites': '95'},
 {'category': 'QZSS', 'total_satellites': '4'},
 {'category': 'Radar Calibration', 'total_satellites': '25'},
 {'category': 'Raduga', 'total_satellites': '44'},
 {'category': 'Russian LEO Navigation', 'total_satellites': '15'},
 {'category': 'Satellite-Based Augmentation System', 'total_satellites': '14'},
 {'category': 'Search & rescue', 'total_satellites': '16'},
 {'category': 'Space & Earth Science', 'total_satellites': '541'},
 {'category': 'Starlink', 'total_satellites': '884'},
 {'category': 'Strela', 'total_satellites': '565'},
 {'category': 'TV', 'total_satellites': '409'},
 {'category': 'Tracking and Data Relay Satellite System',
  'total_satellites': '23'},
 {'category': 'Tselina', 'total_satellites': '62'},
 {'category': 'Tsikada', 'total_satellites': '24'},
 {'category': 'Tsiklon', 'total_satellites': '28'},
 {'category': 'Weather', 'total_satellites': '103'},
 {'category': 'Westford Needles', 'total_satellites': '45'},
 {'category': 'XM and Sirius', 'total_satellites': '10'},
 {'category': 'Yaogan', 'total_satellites': '47'}]

In [6]:
data_array_df = pd.DataFrame(data_array)
data_array_df

                                         category total_satellites
0                                   Amateur radio              416
1                        Beidou Navigation System               54
2                                       Brightest               49
3                                        Celestis                1
4                                        CubeSats              176
5                             Disaster monitoring               28
6                                 Earth resources              149
7                                       Education               20
8                                     Engineering               61
9                                    Experimental              158
10                                          Flock              259
11                                           GOES               17
12                                        Galileo               26
13                                       Geodetic               49
14                                  Geostationary              973
15  Global Positioning System (GPS) Constellation               73
16    Global Positioning System (GPS) Operational               31
17                                     Globalstar               84
18                          Glonass Constellation              134
19                            Glonass Operational               27
20                                         Gonets               21
21                                       Gorizont               33
22                                          IRNSS                8
23                                            ISS               17
24                                       Intelsat               88
25                                        Iridium              106
26                                          Lemur              105
27                                       Military              577
28                                        Molniya               36
29                                           NOAA               23
30               Navy Navigation Satellite System               37
31                                   O3B Networks               20
32                                         OneWeb               68
33                                        Orbcomm               61
34                                          Parus               95
35                                           QZSS                4
36                              Radar Calibration               25
37                                         Raduga               44
38                         Russian LEO Navigation               15
39            Satellite-Based Augmentation System               14
40                                Search & rescue               16
41                          Space & Earth Science              541
42                                       Starlink              884
43                                         Strela              565
44                                             TV              409
45       Tracking and Data Relay Satellite System               23
46                                        Tselina               62
47                                        Tsikada               24
48                                        Tsiklon               28
49                                        Weather              103
50                               Westford Needles               45
51                                  XM and Sirius               10
52                                         Yaogan               47

In [7]:
#rds_connection_string = "postgres:bootcamp@localhost:5432/satellite"
#<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/satellite')

In [8]:
engine.table_names()

['satellite_category', 'country', 'country_satellite']

In [9]:
data_array_df.to_sql(name='satellite_category', con=engine, if_exists='append', index=False)

In [10]:
pd.read_sql_query('select * from satellite_category', con=engine).head()

                   category total_satellites
0             Amateur radio              416
1  Beidou Navigation System               54
2                 Brightest               49
3                  Celestis                1
4                  CubeSats              176

In [11]:
browser.quit()